services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports: ["27017:27017"]
    environment:
      MONGO_INITDB_DATABASE: DragNDrop
    volumes:
      - mongo_data:/data/db

  backend:
    image: node:20-alpine
    volumes:
      - .:/app
    working_dir: /app/src/backend
    command: ["sh","-lc","npm ci --omit=dev && node app.js"]
    env_file: [.env]
    environment:
      PORT: "8080"
    depends_on: [mongo]
    ports: ["8080:8080"]

  frontend:
    build: ./src/frontend
    restart: unless-stopped
    depends_on: [backend]
    ports: ["8085:80"]

volumes:
  mongo_data:


##docker-compose.eb.yml
# services:
#   mongo:
#     image: mongo:6
#     restart: always
#     volumes:
#       - mongo_data:/data/db

#   backend:
#     build:
#       context: .
#       dockerfile: src/backend/Dockerfile
#     environment:
#       PORT: "8080"
#       MONGO_URI: mongodb://mongo:27017/DragNDrop
#       SMTP_SERVICE: ${SMTP_SERVICE:-}
#       SMTP_USER: ${SMTP_USER:-}
#       SMTP_PASS: ${SMTP_PASS:-}
#       SMTP_FROM: ${SMTP_FROM:-}
#     depends_on:
#       - mongo
#     expose:
#       - "8080"

#   web:
#     build:
#       context: src/frontend
#       dockerfile: Dockerfile
#     ports:
#       - "80:80"
#     depends_on:
#       - backend

# volumes:
#   mongo_data:
